:root {
  --primary-bg: #111111;
  --primary-text: #ffffff;
  --secondary-bg: #d30d60;
  --secondary-text: #210060;
  --large-text: 56px;
  --medium-text-1: 40px;
  --medium-text-2: 36px;
  --medium-text-3: 22px;
  --normal-text: 18px;
  --small-text: 16px;
  --xs: 14px;
}

html {
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* scroll-padding: 100px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1024px) {
  body {
    scroll-snap-type: none;
  }
}

h1 {
  font-size: var(--large-text);
}

h2 {
  font-size: var(--medium-text-1);
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: var(--medium-text-3);
}

p {
  font-size: var(--normal-text);
}

h4 {
  font-weight: normal;
  font-size: var(--small-text);
}

@media (max-width: 769px) {
  p {
    font-size: var(--small-text);
  }

  h4 {
    font-size: var(--xs);
  }

  h2 {
    font-size: var(--medium-text-2);
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  p {
    font-size: var(--xs);
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}
