:root {
  --primary-bg: #111111;
  --primary-text: #ffffff;
  --secondary-bg: #d30d60;
  --secondary-text: #210060;
  --large-text: 56px;
  --medium-text-1: 40px;
  --medium-text-2: 36px;
  --medium-text-3: 18px;
  --normal-text: 14px;
  --small-text: 12px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
